# Compiled class file
*.class
*.iml
# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
/target/
/.idea/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
shield-config-client-single/.project
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
shield-common/.classpath
shield-common/.project
shield-common/.settings/org.eclipse.core.resources.prefs
shield-common/.settings/org.eclipse.jdt.core.prefs
shield-common/.settings/org.eclipse.m2e.core.prefs
shield-config-client/.classpath
shield-config-client/.project
shield-config-client/.settings/org.eclipse.core.resources.prefs
shield-config-client/.settings/org.eclipse.jdt.core.prefs
shield-config-client/.settings/org.eclipse.m2e.core.prefs
shield-config-client-single/.classpath
shield-config-client-single/.settings/org.eclipse.core.resources.prefs
shield-config-client-single/.settings/org.eclipse.jdt.core.prefs
shield-config-client-single/.settings/org.eclipse.m2e.core.prefs
shield-demo-project/.classpath
shield-demo-project/.project
shield-demo-project/.settings/org.eclipse.core.resources.prefs
shield-demo-project/.settings/org.eclipse.jdt.core.prefs
shield-demo-project/.settings/org.eclipse.m2e.core.prefs
shield-demo-project-single/.classpath
shield-demo-project-single/.project
shield-demo-project-single/.settings/org.eclipse.core.resources.prefs
shield-demo-project-single/.settings/org.eclipse.jdt.core.prefs
shield-demo-project-single/.settings/org.eclipse.m2e.core.prefs
shield-demo-project-single/target/classes/application-dev.properties
shield-rpc-api/.classpath
shield-rpc-api/.project
shield-rpc-api/.settings/org.eclipse.core.resources.prefs
shield-rpc-api/.settings/org.eclipse.jdt.core.prefs
shield-rpc-api/.settings/org.eclipse.m2e.core.prefs
shield-rpc-config-server/.classpath
shield-rpc-config-server/.project
shield-rpc-config-server/.settings/org.eclipse.core.resources.prefs
shield-rpc-config-server/.settings/org.eclipse.jdt.core.prefs
shield-rpc-config-server/.settings/org.eclipse.m2e.core.prefs
